{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "SwixyQuestBook: Client",
      "type": "coreclr",
      "request": "launch",
      "envFile": "${workspaceFolder}/.vscode/.env",
      "preLaunchTask": "build: SwixyQuestBook",
      "program": "${env:VINTAGE_STORY}/Vintagestory.dll",
      "args": [
        "--tracelog",
        "--addModPath",
        "${workspaceFolder}/SwixyQuestBook/bin/Debug/Mods",
        "-o",
        "test"
      ],
      "cwd": "${env:VINTAGE_STORY}",
      "console": "externalTerminal",
      "stopAtEntry": false
    }
  ]
}
